//***************************************
// Variables
//***************************************

//***************************************
// Colours
//***************************************

$grey: rgb(40, 49, 73);
$greyAlt: rgb(64, 75, 105);
$red: rgb(247, 56, 89);
$offWhite: rgb(219, 237, 243);
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$orange: rgb(250, 131, 32);

//***************************************
// Typography
//***************************************

//***************************************
// Sizing
//***************************************
$maxScreenWidth: 1200px;

//***************************************
// Toggle
//***************************************
$toggleWidth: 60px;
$toggleHeight: 50px;
$togglePadding: 5px;
$toggleMargin: 5px;
$border: 0px;
