//***************************************
// Home page styles
//***************************************

//***************************************
// Imports
//***************************************

@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Source+Sans+Pro:wght@300;400;700&display=swap");

//***************************************
// General styles
//***************************************

body {
  font-size: 62.5%;
  font-family: "Source Sans Pro", sans-serif;
  background-color: $grey;
  color: $white;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

/* Whole scrollbar */
*::-webkit-scrollbar,
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  margin-left: 5px;
  background-color: $greyAlt;
  border-radius: 5px;
}

/* Track */
*::-webkit-scrollbar-track,
*::-webkit-track {
  border-radius: 5px;
}

/* Handle */
*::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-thumb {
  background: $red;
  border-radius: 5px;
}

.wrapper {
  margin: 0px auto;
  max-width: $maxScreenWidth;
  width: 90%;
}

nav {
  margin: 10px 0px;
}

section,
footer {
  margin: 50px 0px;
}

.fullscreen {
  min-height: calc(100vh - 98px);
}

.hide {
  display: none !important;
}

.skipLink {
  position: absolute;
  left: -100%;
  top: 0px;
  z-index: 999;
  width: 100%;
  text-align: center;
  background: $red;
  color: $offWhite;
  text-decoration: none;
  padding: 20px;
  font-size: 2rem;
}

.skipLink:focus {
  left: 0;
}

//***************************************
// Header styles
//***************************************

.logoContainer::before,
.logoContainer::after {
  content: "{";
  font-size: 4rem;
  color: $offWhite;
}

.logoContainer::after {
  content: "}";
}

.logo {
  width: auto;
  height: 50px;
  position: relative;
  top: 8px;
}

h1 {
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 4rem;
  color: $red;
}

//***************************************
// Custom dropdown styles
//***************************************

.dropdownContainer {
  position: relative;
  width: 300px;
  height: 100px;
  margin: 0px auto;
}

.dropdownLabel {
  margin: 10px 0px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
}

.dropdown {
  position: absolute;
  width: 300px;
  height: 55px;
  font-size: 1.5rem;
  overflow-y: scroll;
  background-color: $greyAlt;
  transition: all 0.5s;
  z-index: 2;
  border: 2px solid $offWhite;
  border-radius: 5px;

  &:hover,
  &:focus-within {
    height: 200px;
  }

  &:hover .dropdownIcon {
    border-left-color: $greyAlt;
  }
}

.dropdownOption {
  width: 100%;
  padding: 10px;
  transition: all 0.3s;
  border: 2px solid $greyAlt;
  background-color: $grey;
  color: $offWhite;

  &:hover,
  &:focus-within {
    color: $grey;
    background-color: $offWhite;
    cursor: pointer;
  }
}

.optionOne {
  display: flex;
  justify-content: space-between;
}

.dropdownIcon {
  border-left: 2px solid $offWhite;
  padding-left: 10px;
}

.highlight {
  background: rgba($red, 0.5);
}

//***************************************
// Main styles
//***************************************

.teamCards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
  column-gap: 30px;
  align-items: center;
}

// First layer of team card styles

.card {
  min-width: 250px;
  display: flex;
  flex-direction: column;
  border: 2px solid $offWhite;
  border-radius: 5px;
  background-color: $greyAlt;
  transition: all 0.5s;
  overflow: hidden;

  &:hover,
  &:focus-within {
    box-shadow: 0 14px 28px rgba($offWhite, 0.19),
      0 10px 10px rgba($offWhite, 0.23);

    .cardImg {
      transform: scale(1.1);
    }
  }
}

.cardInnerContainer {
  flex-grow: 10;
  position: relative;
}

.cardImg {
  width: 100%;
  height: 350px;
  padding: 15px;
  transition: all 0.5s;
  overflow: hidden;
  object-fit: contain;
  object-position: center;
}

.cardTeamName {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  height: 50px;
  background-color: $offWhite;
  color: $grey;
  border: 2px solid $offWhite;
}

// Team details styles

.teamDetailsContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba($offWhite, 0.3);
  font-size: 2rem;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $red;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: all 0.5s;
}

.fadeOut {
  opacity: 0;
}

.teamDetailsLabel {
  font-size: 1.5rem;
  margin-top: 10px;
  color: $grey;
  font-weight: 700;
  padding: 5px 0px;
  border-bottom: 2px solid $greyAlt;
}

.closeIcon {
  font-size: 1rem;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
  color: $greyAlt;
  text-align: right;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.3s;

  &:hover,
  &:focus {
    color: $red;
  }
}

.btn {
  display: inline-block;
  padding: 10px;
  margin: 5px;
  border-radius: 2px;
  border: 2px solid $red;
  background-color: $red;
  color: $white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  transition: all 0.5s;
  position: relative;
  z-index: 1;
}

.btn:hover,
.btn:focus {
  cursor: pointer;
  background-color: $grey;
  color: $white;
}

.btnPlayerDetails {
  background-color: $offWhite;
  color: $red;

  &:hover,
  &:focus {
    background-color: $grey;
    color: $offWhite;
  }
}

//***************************************
// Modal styles
//***************************************
.errorMessage {
  text-align: center;
  font-weight: 700;
  font-size: 3rem;
}

//***************************************
// Roster styles
//***************************************

.playerDetailsOuterContainer,
.modalOuterContainer {
  position: fixed;
  z-index: 3;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba($grey, 0.8);
}

.playerDetailsContainer,
.modalInnerContainer {
  max-width: $maxScreenWidth;
  width: 80vw;
  height: 80vh;
  background-color: rgba($offWhite, 0.5);
  font-size: 2rem;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: all 0.5s;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.rosterHeader {
  min-height: 100px;
  height: 100px;
}

.rosterTableContainer {
  width: 100%;
  flex-grow: 1;
  background-color: $greyAlt;
  border-radius: 5px;
}

table {
  text-align: left;
  table-layout: fixed;
  border-collapse: collapse;
}

.rosterTableScroll {
  overflow: auto;
  height: calc(80vh - 40px - 100px);
  border-top-left-radius: 5px;
}

.rosterTableScroll::-webkit-scrollbar-corner {
  background-color: $greyAlt;
  border-bottom-right-radius: 5px;
}

.rosterTableHead {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: $grey;
  position: relative;
}

// Making table header sticky by making thead element position: relative and th element top:0 with position:stick -> see CSS tricks reference below
// credits: https://css-tricks.com/position-sticky-and-table-headers/
th {
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: $grey;
}

th,
td {
  font-size: 1rem;
  width: 100%;
  padding: 0;
}

.header,
.data {
  width: 100%;
  display: block;
  padding: 10px 10px;
}

.header {
  background-color: $grey;
}

.nameContainer {
  display: flex;
  flex-direction: column;
}

.player {
  border-top-left-radius: 5px;
}

td.player {
  display: flex;
  align-items: center;
}

.playerImg {
  margin-right: 10px;
  display: flex;
  align-items: center;

  img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    object-position: center;
    background-color: rgba($offWhite, 0.4);
    border-radius: 50%;
  }
}

.birthday {
  width: 100px;
}

//***************************************
// Footer styles
//***************************************

footer {
  margin-bottom: 0px;
  color: $grey;
  background-color: $offWhite;
}

.footerText {
  padding: 10px;
  font-size: 1rem;
  text-align: center;
}

//***************************************
// Loading screen animation
//***************************************

.loadingContainer {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  background: rgba($black, 0.8);
}

.fas.fa-basketball-ball {
  font-size: calc(5rem + 2vw);
  color: $orange;

  animation-name: loading;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-timing-function: linear;
}

@keyframes loading {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

//***************************************
// Toggle
//***************************************

.toggleOuter {
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px;
  text-transform: uppercase;
}

.toggleContainer {
  position: relative;
  display: inline-block;
  background: $red;
  font-size: 1rem;
  border-radius: 5px;
}

.toggleInput {
  position: absolute;
  opacity: 0;
}

.toggleLabel {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;

  &:hover {
    cursor: pointer;
  }
}

.left,
.right {
  height: $toggleHeight;
  width: $toggleWidth;
  padding: $togglePadding;
  line-height: calc(#{$toggleHeight} - #{$togglePadding} * 2);
  text-align: center;
}

.left,
.right {
  position: relative;
}

.left::before {
  content: "";
  line-height: calc(#{$toggleHeight} - #{$togglePadding} * 2);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: $grey;
  border: $border $grey solid;
  height: calc(#{$toggleHeight} - #{$toggleMargin} * 2);
  width: calc(#{$toggleWidth} - #{$toggleMargin} * 2 - #{$border} * 2);
  margin: $toggleMargin;
  border-radius: 5px;
  text-transform: uppercase;
  transition: all 0.3s;
}

.left::after,
.right::before {
  position: absolute;
}

.right::before {
  content: "Stat";
  opacity: 0;
}

.left::after {
  content: "Bio";
  left: 18px;
  opacity: 1;
}

.toggleInput:checked {
  & + .toggleLabel .left::before {
    opacity: 1;
    transform: translateX($toggleWidth);
  }

  & + .toggleLabel .right::before {
    opacity: 0;
  }
}
